<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            .feature_list{
                display: inline-block;
                width: 100%;
            }

            .feature_list > ul{
                float: left;
            }
        </style>
        
        <div id="app" class="panel">
            <div id="header_images" style="display: flex; flex-direction: row; justify-content: space-between; width: 300px">
                <span @click="selectedHeader = 1" class="link-primary">Build</span>
                <span @click="selectedHeader = 2" class="link-primary">Maintain</span>
                <span @click="selectedHeader = 3" class="link-primary">Sustain</span>
            </div>
            <br/>
            <div id="img_placeholder">
                <img v-bind:src="imageBindings[selectedImage]"  width="720"/>
            </div>
            <div id="lists">
                <div class="feature_list" v-if="selectedHeader == 1">
                    <h1>Build</h1>
                    <ul>
                       <li @mouseover="selectedImage = 'crane'"> Design Build Services</li>
                       <li @mouseover="selectedImage = 'controls'"> Building Automation System (BAS)</li>
                       <li @mouseover="selectedImage = 'chiller'"> Central Plant</li>
                       <li @mouseover="selectedImage = 'chiller'"> Chiller Retrofit</li>
                       <li @mouseover="selectedImage = 'boiler'"> Boiler Retrofit and/or Replacement</li>
                    </ul>
                    <ul>
                       <li @mouseover="selectedImage = 'controls'"> Building Intergration</li>
                       <li @mouseover="selectedImage = 'crane'"> Package Rooftop Unit Install</li>
                       <li @mouseover="selectedImage = 'pool'"> Pool Room Conditioning</li>
                       <li @mouseover="selectedImage = 'cooling'"> Cooling Towers</li>
                       <li @mouseover="selectedImage = 'uv'"> UV Light Install</li>
                    </ul>
                </div>
                <div class="feature_list"  v-if="selectedHeader == 2">
                    <h1>Maintain</h1>
                    <ul>
                        <li @mouseover="selectedImage = 'select'">PM Agreement (with Sub-groups)</li>
                        <li @mouseover="selectedImage = 'chiller'">Centrifugal Service (with sub-groups)</li>
                        <li @mouseover="selectedImage = 'select'">Select Agreements</li>
                        <li @mouseover="selectedImage = 'chiller'">Screw Compressor Replacement</li>
                        <li @mouseover="selectedImage = 'boiler'">Boiler Services 
                            <ul>
                                <li>retube</li>
                                <li>combustion analyses</li>
                                <li>gas piping</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li @mouseover="selectedImage = 'airside'">Air Side Service (with sub-groups)</li>
                        <li @mouseover="selectedImage = 'plumbing'">Plumbing</li>
                        <li @mouseover="selectedImage = 'emergency'">Emergency Service</li>
                        <li @mouseover="selectedImage = 'cooling'">Cooling Tower Cleaning & Rebuild</li>
                        <li @mouseover="selectedImage = 'chiller'">Pump Rebuilds</li>
                    </ul>
                </div>
                <div class="feature_list" v-if="selectedHeader == 3">
                    <h1>Sustain</h1>
                    <ul>
                        <li @mouseover="selectedImage = 'select'">On-Site Services (SBS)</li>
                        <li @mouseover="selectedImage = 'controls'">Connected Building Services</li>
                        <li @mouseover="selectedImage = 'asset'">Asset Management</li>
                        <li @mouseover="selectedImage = 'base'">Building Commissioning  & Energy Studies</li>
                        <li @mouseover="selectedImage = 'asher'">ASHER</li>
                    </ul>
                    <ul>
                        <li @mouseover="selectedImage = 'service'">Safety</li>
                        <li @mouseover="selectedImage = 'rentals'">Rentals</li>
                        <li @mouseover="selectedImage = 'parts'">Parts</li>
                        <li @mouseover="selectedImage = 'call'">Service Reports</li>
                        <li @mouseover="selectedImage = 'service'">Training</li>
                    </ul>
                </div>
            </div>
        </div>


        <script>
            const { createApp } = Vue

            createApp({
                data() {
                    return {
                        selectedHeader: 1,
                        imageBindings:{
                            select: "images/Select.png",
                            asher: "images/Asher.png",
                            asset: "images/Asset Management.png",
                            boiler: "images/Boiler.png",
                            call: "images/Call Summary.png",
                            chiller: "images/Chiller Screw.png",
                            controls: "images/Controls.png",
                            cooling: "images/Cooling Tower.png",
                            crane: "images/Crane.png",
                            emergency: "images/Emergency.png",
                            parts: "images/Parts.png",
                            plumbing: "images/Plumbing.png",
                            pool: "images/Pool.png",
                            rentals: "images/Rentals.png",
                            select: "images/Select.png",
                            service: "images/Service Trucks.png",
                            uv: "images/UV.png",

                        },
                        selectedImage: "select"
                    }
                },
                computed(){

                }
            }).mount('#app')
        </script>
        <!-- <script src="" async defer></script> -->
    </body>
</html>