<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app" class="panel">
            <div id="header_images" style="display: flex; flex-direction: row; justify-content: space-between; width: 300px">
                <span @click="selectedHeader = 1" class="link-primary">Build</span>
                <span @click="selectedHeader = 2" class="link-primary">Maintain</span>
                <span @click="selectedHeader = 3" class="link-primary">Sustain</span>
            </div>
            <br/>
            <div v-if="selectedHeader == 1">
                build
            </div>
            <div v-if="selectedHeader == 2">
                maintain
            </div>
            <div v-if="selectedHeader == 3">
                sustain
            </div>
            <div id="img_placeholder">
                <img src="images/Asher.png" width="720"/>
            </div>
            <div id="lists"></div>
        </div>


        <script>
            const { createApp } = Vue

            createApp({
                data() {
                    return {
                        selectedHeader: 1,
                        imageBindings:{

                        }
                    }
                },
                computed(){

                }
            }).mount('#app')
        </script>
        <!-- <script src="" async defer></script> -->
    </body>
</html>